@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply duration-200 transition-colors;
  scroll-behavior: smooth;
}

@keyframes curtain {
  0% {
    width: 0

  }
  100% {
    width: 100%
    
  }
}

body{ height: 10000px}