@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply duration-200 transition-colors;
  scroll-behavior: smooth;
}

@keyframes menu {
  0% {
    width: 10px

  }
  100% {
    width: 40px
    
  }
}

body{ height: 10000px}